<mat-toolbar id="app-toolbar">
    <img src="assets/kellerkicker-logo.jpg" height="100px"/>
    <span class="menu-spacer"></span>
    <a mat-button routerLink="/" class="toolbar-text"><mat-icon class="toolbar-text">home</mat-icon>Home</a>
    <a mat-button routerLink="/tournaments" class="toolbar-text">
        <mat-icon class="toolbar-text">emoji_events</mat-icon>Turniere</a>  
    <span class="flex-spacer"></span>
    <button mat-icon-button id="menu-btn"><mat-icon class="toolbar-text">menu</mat-icon></button>
</mat-toolbar>
