

<div class="kk-flex-content">  
    <div class="kk-current-tournament-header">
        <h3 style="text-align: center;color: #bda76f;">LaLiga</h3>
        <h4 style="text-align: center;color: white;">26.05.2024 | Berft Field</h4>
    </div>
    <mat-card class="kk-card kk-card-tournament">
        <mat-card-header>
            <mat-card-title>Vorrunde</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-accordion >
                <mat-expansion-panel style="background-color: transparent;margin-top: 5px;">
                    <mat-expansion-panel-header class="kk-exp-panel-header">
                        <mat-panel-title>
                        Tabelle
                        </mat-panel-title>
                    </mat-expansion-panel-header>                
                </mat-expansion-panel>
                <mat-expansion-panel style="background-color: transparent;margin-top: 5px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        Begegnungen
                        </mat-panel-title>
                    </mat-expansion-panel-header>                
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
    <mat-card class="kk-card">
        <mat-card-header>
            <mat-card-title>Meisterschaft</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            
        </mat-card-content>
    </mat-card>
    <mat-card class="kk-card">
        <mat-card-header>
            <mat-card-title>Challenger-Cup</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            
        </mat-card-content>
    </mat-card>
</div>
<div class="kk-flex-content">
    <mat-card class="kk-card">
        <mat-card-header>
            <mat-card-title>Abgeschlossene Turniere</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <div style="display: flex;">
                        <span>Kaiser-Franz-Cup</span>
                        <mat-icon style="margin-left: auto;">arrow_forward_ios</mat-icon>
                    </div>
                </mat-list-item>
                <mat-divider class="kk-card-item-sub-divider"></mat-divider>
                <mat-list-item>
                    BeNePor
                </mat-list-item>
                <mat-divider class="kk-card-item-sub-divider"></mat-divider>
                <mat-list-item>
                    Hallen-Cup
                </mat-list-item>
                <mat-divider class="kk-card-item-sub-divider"></mat-divider>
            </mat-list>
        </mat-card-content>
    </mat-card>>
    
</div>

