<div class="kk-flex-content">
    <mat-card class="kk-card">
        <mat-card-header>
            <mat-card-title>Kommendes Turnier</mat-card-title>
            <mat-card-subtitle>LaLiga | 26.05.2024</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item class="kk-card-item-title">Vorrunde</mat-list-item>
                <mat-divider class="kk-card-item-title-divider"></mat-divider>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Sebastian</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div class="kk-ranking-games"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-points"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-win"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-tie"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-loss"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-goals">+-<span class="kk-ranking-greyout">0</span>0</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-2">person</mat-icon>
                        <span class="kk-ranking-nick">Richard</span>
                        <mat-icon class="kk-ranking-trend-blue">trending_flat</mat-icon>
                        <div class="kk-ranking-standings">
                            <div class="kk-ranking-games"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-points"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-win"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-tie"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-loss"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-goals">+-<span class="kk-ranking-greyout">0</span>0</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-3">person</mat-icon>
                        <span class="kk-ranking-nick">Jason</span>
                        <mat-icon class="kk-ranking-trend-red">trending_down</mat-icon>
                        <div class="kk-ranking-standings">
                            <div class="kk-ranking-games"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-points"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-win"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-tie"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-loss"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-goals">+-<span class="kk-ranking-greyout">0</span>0</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-4">person</mat-icon>
                        <span class="kk-ranking-nick">Lars</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div class="kk-ranking-games"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-points"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-win"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-tie"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-loss"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-goals">+-<span class="kk-ranking-greyout">0</span>0</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Sebastian</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div class="kk-ranking-games"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-points"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-win"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-tie"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-loss"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-goals">+-<span class="kk-ranking-greyout">0</span>0</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Sebastian</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div class="kk-ranking-games"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-points"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-win"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-tie"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-loss"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-goals">+-<span class="kk-ranking-greyout">0</span>0</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Sebastian</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div class="kk-ranking-games"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-points"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-win"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-tie"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-loss"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-goals">+-<span class="kk-ranking-greyout">0</span>0</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Sebastian</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div class="kk-ranking-games"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-points"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-win"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-tie"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-loss"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-goals">+-<span class="kk-ranking-greyout">0</span>0</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Sebastian</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div class="kk-ranking-games"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-points"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-win"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-tie"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-loss"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-goals">+-<span class="kk-ranking-greyout">0</span>0</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Sebastian</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div class="kk-ranking-games"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-points"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-win"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-tie"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-loss"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-goals">+-<span class="kk-ranking-greyout">0</span>0</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Sebastian</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div class="kk-ranking-games"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-points"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-win"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-tie"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-loss"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-goals">+-<span class="kk-ranking-greyout">0</span>0</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Sebastian</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div class="kk-ranking-games"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-points"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-win"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-tie"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-loss"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-goals">+-<span class="kk-ranking-greyout">0</span>0</div>
                        </div>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>


    <mat-card class="kk-card">
        <mat-card-header>
            <mat-card-title>Letztes Turnier</mat-card-title>
            <mat-card-subtitle>Kaiser-Franz-Cup | 14.04.2024</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item class="kk-card-item-title">Finale (Best of 5)</mat-list-item>
                <mat-divider class="kk-card-item-title-divider"></mat-divider>
                <mat-divider class="kk-card-item-empty-divider"></mat-divider>
                <mat-list-item class="kk-knockout-player-winner"><span>Sebastian</span><span class="kk-knockout-player-result">3</span></mat-list-item>
                <mat-list-item class="kk-knockout-player-loser"><span>Christian</span><span class="kk-knockout-player-result">1</span></mat-list-item>
                <mat-divider class="kk-card-item-empty-divider"></mat-divider>
                <mat-list-item class="kk-card-item-title">Spiel um Platz 3 (Best of 5)</mat-list-item>
                <mat-divider class="kk-card-item-title-divider"></mat-divider>
                <mat-divider class="kk-card-item-empty-divider"></mat-divider>
                <mat-list-item class="kk-knockout-player-loser"><span>Jason</span><span class="kk-knockout-player-result">1</span></mat-list-item>
                <mat-list-item class="kk-knockout-player-winner"><span>Max S.</span><span class="kk-knockout-player-result">3</span></mat-list-item>
                <mat-divider class="kk-card-item-empty-divider"></mat-divider>
                <mat-list-item class="kk-card-item-title">Halbfinale (Best of 5)</mat-list-item>
                <mat-divider class="kk-card-item-title-divider"></mat-divider>
                <mat-list-item class="kk-card-item-title-small">Match 1</mat-list-item>
                <mat-list-item class="kk-knockout-player-loser"><span>Jason</span><span class="kk-knockout-player-result">1</span></mat-list-item>
                <mat-list-item class="kk-knockout-player-winner"><span>Max S.</span><span class="kk-knockout-player-result">3</span></mat-list-item>
                <mat-divider class="kk-card-item-sub-divider"></mat-divider>
                <mat-list-item class="kk-card-item-title-small">Match 2</mat-list-item>
                <mat-list-item class="kk-knockout-player-loser"><span>Jason</span><span class="kk-knockout-player-result">1</span></mat-list-item>
                <mat-list-item class="kk-knockout-player-winner"><span>Max S.</span><span class="kk-knockout-player-result">3</span></mat-list-item>
                <mat-divider class="kk-card-item-empty-divider"></mat-divider>
                <mat-list-item class="kk-card-item-title">Viertelfinale (Best of 5)</mat-list-item>
                <mat-divider class="kk-card-item-title-divider"></mat-divider>
                <mat-list-item class="kk-card-item-title-small">Match 1</mat-list-item>
                <mat-list-item class="kk-knockout-player-loser"><span>Jason</span><span class="kk-knockout-player-result">1</span></mat-list-item>
                <mat-list-item class="kk-knockout-player-winner"><span>Max S.</span><span class="kk-knockout-player-result">3</span></mat-list-item>
                <mat-divider class="kk-card-item-sub-divider"></mat-divider>
                <mat-list-item class="kk-card-item-title-small">Match 2</mat-list-item>
                <mat-list-item class="kk-knockout-player-winner"><span>Sebastian</span><span class="kk-knockout-player-result">3</span></mat-list-item>
                <mat-list-item class="kk-knockout-player-loser"><span>Richard</span><span class="kk-knockout-player-result">1</span></mat-list-item>
                <mat-divider class="kk-card-item-sub-divider"></mat-divider>
                <mat-list-item class="kk-card-item-title-small">Match 3</mat-list-item>
                <mat-list-item class="kk-knockout-player-loser"><span>Jason</span><span class="kk-knockout-player-result">1</span></mat-list-item>
                <mat-list-item class="kk-knockout-player-winner"><span>Max S.</span><span class="kk-knockout-player-result">3</span></mat-list-item>             
                <mat-divider class="kk-card-item-sub-divider"></mat-divider>
                <mat-list-item class="kk-card-item-title-small">Match 4</mat-list-item>
                <mat-list-item class="kk-knockout-player-loser"><span>Jason</span><span class="kk-knockout-player-result">1</span></mat-list-item>
                <mat-list-item class="kk-knockout-player-winner"><span>Max S.</span><span class="kk-knockout-player-result">3</span></mat-list-item>
                <mat-divider class="kk-card-item-empty-divider"></mat-divider>
                <mat-list-item class="kk-card-item-title">Vorrunde</mat-list-item>
                <mat-divider class="kk-card-item-title-divider"></mat-divider>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Sebastian</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div class="kk-ranking-games"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-points"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-win"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-tie"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-loss"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-goals">+-<span class="kk-ranking-greyout">0</span>0</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Sebastian</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div class="kk-ranking-games"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-points"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-win"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-tie"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-loss"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-goals">+-<span class="kk-ranking-greyout">0</span>0</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Sebastian</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div class="kk-ranking-games"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-points"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-win"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-tie"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-loss"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-goals">+-<span class="kk-ranking-greyout">0</span>0</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Sebastian</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div class="kk-ranking-games"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-points"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-win"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-tie"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-devider">|</div>
                            <div class="kk-ranking-loss"><span class="kk-ranking-greyout">0</span>0</div>
                            <div class="kk-ranking-spacer"></div>
                            <div class="kk-ranking-goals">+-<span class="kk-ranking-greyout">0</span>0</div>
                        </div>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card-content>  
    </mat-card>

    <mat-card class="kk-card">
        <mat-card-header>
            <mat-card-title>Statistik</mat-card-title>
            <mat-card-subtitle>Saison 2024</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item class="kk-card-item-title">Meiste Turniersiege</mat-list-item>
                <mat-divider class="kk-card-item-title-divider"></mat-divider>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Sebastian</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div>Abs 3</div>
                            <div class="kk-ranking-spacer"></div>
                            <div>Ø 0.897</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Max S.</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div>Abs 2</div>
                            <div class="kk-ranking-spacer"></div>
                            <div>Ø 0.786</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item class="kk-card-item-title">Meiste Siege</mat-list-item>
                <mat-divider class="kk-card-item-title-divider"></mat-divider>
                <mat-list-item>
                        <div class="kk-card-ranking-item-container">
                            <mat-icon class="kk-ranking-si-1">person</mat-icon>
                            <span class="kk-ranking-nick">Sebastian</span>
                            <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                            <div class="kk-ranking-standings">
                                <div>Abs 34</div>
                                <div class="kk-ranking-spacer"></div>
                                <div>Ø 0.666</div>
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <div class="kk-card-ranking-item-container">
                            <mat-icon class="kk-ranking-si-1">person</mat-icon>
                            <span class="kk-ranking-nick">Max S.</span>
                            <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                            <div class="kk-ranking-standings">
                                <div>Abs 22</div>
                                <div class="kk-ranking-spacer"></div>
                                <div>Ø 0.666</div>
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <div class="kk-card-ranking-item-container">
                            <mat-icon class="kk-ranking-si-2">person</mat-icon>
                            <span class="kk-ranking-nick">Richard</span>
                            <mat-icon class="kk-ranking-trend-green">trending_flat</mat-icon>
                            <div class="kk-ranking-standings">
                                <div>Abs 12</div>
                                <div class="kk-ranking-spacer"></div>
                                <div>Ø 0.250</div>
                            </div>
                        </div>
                    </mat-list-item>
                <mat-list-item class="kk-card-item-title">Meiste Tore</mat-list-item>
                <mat-divider class="kk-card-item-title-divider"></mat-divider>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Sebastian</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div>Abs 34</div>
                            <div class="kk-ranking-spacer"></div>
                            <div>Ø 0.666</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Max S.</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div>Abs 22</div>
                            <div class="kk-ranking-spacer"></div>
                            <div>Ø 0.666</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-2">person</mat-icon>
                        <span class="kk-ranking-nick">Richard</span>
                        <mat-icon class="kk-ranking-trend-green">trending_flat</mat-icon>
                        <div class="kk-ranking-standings">
                            <div>Abs 12</div>
                            <div class="kk-ranking-spacer"></div>
                            <div>Ø 0.250</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item class="kk-card-item-title">Tor des Monats</mat-list-item>
                <mat-divider class="kk-card-item-title-divider"></mat-divider>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Sebastian</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div>Abs 34</div>
                            <div class="kk-ranking-spacer"></div>
                            <div>Ø 0.666</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-1">person</mat-icon>
                        <span class="kk-ranking-nick">Max S.</span>
                        <mat-icon class="kk-ranking-trend-green">trending_up</mat-icon>
                        <div class="kk-ranking-standings">
                            <div>Abs 22</div>
                            <div class="kk-ranking-spacer"></div>
                            <div>Ø 0.666</div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="kk-card-ranking-item-container">
                        <mat-icon class="kk-ranking-si-2">person</mat-icon>
                        <span class="kk-ranking-nick">Richard</span>
                        <mat-icon class="kk-ranking-trend-green">trending_flat</mat-icon>
                        <div class="kk-ranking-standings">
                            <div>Abs 12</div>
                            <div class="kk-ranking-spacer"></div>
                            <div>Ø 0.250</div>
                        </div>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
    
</div>

